*{
    margin: 0;
}
.homero1{
     background-image: url(images/simpson.png);
     height: 250px;
    /* background-repeat: no-repeat; */
    
}
.homero2{
    background-image: url(images/simpson.png);
    height: 250px;
}
.title{
    font-size: 4em;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;

}

